body,div,h1{font-family:'trebuchet ms', verdana, arial;margin:1;padding:1;}
body{background-color:#fff;color:#333;font-size:10px;margin:0;padding:0;}
body
{
   background-image: url("../images/background.jpg");
   background-size: 100%;
   # background-repeat: no-repeat;
   #left: 5px;
   #opacity: 100;
   # position: fixed;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="date"]{
    background-color: #008000;
    padding: 5px;
    # position: absolute;
    color: #ffffff;
    font-size: 12px;
    border: none;
    outline: none;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    cursor: pointer;
}
textarea{background-color:#fff;color:#333;font-size:8px;margin:0;padding:0;}
h1{font-size:large;font-weight:400;margin:0;}
h2{color:#333;font-size:small;font-weight:400;margin:0;}
pre{background-color:#eee;border:1px solid #ddd;border-left-width:5px;color:#333;font-size:small;overflow-x:auto;padding:15px;}
pre.normal{background-color:transparent;border:none;border-left-width:0;overflow-x:auto;}
#external{margin: 20px;}
#logo{background:url(images/jq.png);display:block;float:right;height:31px;margin-right:10px;margin-top:10px;width:110px;}
#main{margin:0px 25px 0px 40px;padding:0 15px 15px 0;}
#content{padding:20px;}
#busy{background-color:#e95555;border:1px ridge #ccc;color:#eee;display:none;padding:5px;position:absolute;right:7px;top:7px;}
hr{height:1px;}
tr{border:2px;}
code{font-size:108%;font-style:normal;padding:0;}
ul{color:#333;list-style:square;}
#banner{margin:40px;margin-bottom: 0px;padding-bottom:10px;text-align:left;}
#banner *{color:#232121;font-family:Georgia, Palatino, Times New Roman;font-size:30px;font-style:normal;font-weight:400;margin:0;padding:0;}
#banner h1{display:block;float:left;}
#banner h1 em{color:#6cf;}
#banner h2{float:right;font-size:26px;margin:10px 10px -10px -10px;}
#banner h3{clear:both;display:block;font-size:12px;margin-top:-20px;}
#banner a{border-top:1px solid #888;display:block;font-size:14px;margin:5px 0 0;padding:10px 0 0;text-align:right;width:auto;}
a.external{background-image:url(../img/external.png);background-position:center right;background-repeat:no-repeat;padding-right:12px;}
form{font-size:10pt;margin-bottom:20px;width:auto;}
form fieldset{padding:10px;text-align:left;width:140px;}
# div#main{background-color:#DDDDDD;border:2px solid #CDCDCD;display:block;margin-top:2px;padding:1px 5px 1px 5px;}
# div#menu{background-color:#EEEEFF;border-bottom:2px solid #CDCDCD;display:block;margin-top:2px;padding:10px 10px 10px 10px;}
div#search{background-color:#EEEEFF;border-bottom:2px solid #CDCDCD;display:block;margin-top:2px;padding:10px 10px 10px 10px;}

div#main{
    float:none;
    max-width: 100%;
}

div#children{
    background-color:#DDEEDD;
    # border-bottom:2px solid #CDCDCD;
    border: 20px;
    border-radius: 16px;
    display:block;
    margin-top:2px;
    padding:5px 5px 5px 5px;
    vertical-align: top;
    text-align: right;
    padding:2px 2px 2px 2px;
}
div#children_odd{
    background-color:#FFFFFF;
    # border-bottom:2px solid #CDCDCD;
    border: 20px;
    border-radius: 16px;
    display:block;
    margin-top:2px;
    padding:5px 5px 5px 5px;
    vertical-align: top;
    text-align: right;  
    padding:2px 2px 2px 2px;    
}
div#parents{background-color:#BBDDBB;border-bottom:2px solid #CDCDCD;display:block;margin-top:2px;padding:10px 10px 10px 10px;}
div#spouse{background-color:#DDEEDD;border-bottom:2px solid #CDCDCD;display:block;margin-top:2px;padding:10px 10px 10px 10px;}
div#item{background-color:#DDFFDD;border-bottom:2px solid #CDCDCD;display:block;margin-top:2px;padding:10px 10px 10px 10px;}
div#edit{background-color:#DDFFDD;border-bottom:2px solid #CDCDCD;display:block;margin-top:2px;padding:10px 10px 10px 10px;}
div#results{background-color:#EEFFEE;border-bottom:2px solid #CDCDCD;display:block;margin-top:2px;padding:10px 10px 10px 10px;}
div#demo{background scroll 0 0; background-color:#EEEEEE;border-bottom:1px solid #CDCDCD;display:block;margin-top:2px;padding:10px 10px 2px;}
div#date {font-family:'trebuchet ms', verdana, arial;margin:1;padding:1; font-size:6pt;}
div#fontsize {font-family:'trebuchet ms', verdana, arial;margin:1;padding:1; font-size:10pt;}
div#relation {font-family:'trebuchet ms', verdana, arial;margin:1;padding:1; font-size:12pt;}
div#warning {background-color:#EE2222;font-family:'trebuchet ms', verdana, arial;margin:1;padding:1; font-size:16pt;}
div#login {
        background-color:#EEEEEE;
        font-family:'trebuchet ms', verdana, arial;
        margin-top:20px;
        margin-left:20px;
        padding:10px 10px 10px 10px; 
        border-top:20px;
        font-size:20pt;
        position: absolute;
        height: 200px;
        width: 400px;
        margin: -100px 0 0 -200px;
        top: 50%;
        left: 50%;
}
div#main{
        # width:80%;
        background-color:#FFFFFF;
        border-bottom:2px solid #005500;
        border-right:1px solid #005500;   
        border-radius: 10px;
        float:left;
        display:block;
        margin-top:20px;
        margin-left:20px;
        padding:15px 15px 15px 15px;
        font-size:10pt;
        position: relative;
}
div#menu{
        width:100%;
        background-color:#22CC11;
        border-bottom:2px solid #002200;    
        # border-top:20px;
        border-radius: 10px;
        display:block;
        margin-top:20px;
        margin-left:20px;
        padding:10px 10px 10px 10px;
        font-size:10pt;
}
div#demo{
        width: 80%
        background-color:#EEEEEE;
        border-bottom: 1px solid #CDCDCD;
        display:block;
        margin-top:2px;
        padding:10px 10px 2px;
}


div#dates{
        font-size: 10px;
        # border-bottom: 4px solid #CDCDCD;
        display:block;
        padding:2px 2px 2px 2px;
}


table#sortable{border-bottom:1px solid #FFFFFF; margin: 1px 0 0 0;}
table#tablesorter-demo {margin: 10px 0 0 0;}
table#options *{font-size:small;}
p.tip em {padding: 2px; background-color: #6cf; color: #FFF;}
p.tip.update em {background-color: #FF0000;}
div.digg {float: right; margin-left: 20px;}
#skyscraper {float: right; margin-right: 0px; margin-left: 20px; background: #EEE; padding: 20px;}
#skyscraper > div { margin-bottom: 20px; }
#skyscraper.wide { float: none; overflow: hidden; margin-left: 0; text-align: center;}
#skyscraper.wide > div { display: inline-block; margin-right: 20px;  margin-bottom: 0;}
